/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
nav, section, .end > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    padding: 30px;
}

/* HEADER */
nav div{
    flex-basis: 25%;
    padding: 5px;
}
.list{
    list-style: none;
    text-align: center;
}
ul > li{
    list-style: none;
    display: inline-block;
}
.button{
    text-align: end;
}

/* MAIN */
main{
    background-color: white;
}
.section-two div:last-child{
    order: -1
}

/* FOOTER  */
.end > div{
    justify-content: space-between;
}



















/* DEBUG */
nav{
    background-color: aqua;
    height: 50px;
}
nav div{
    background-color: orange;
    height: 30px;
    border: 1px dashed black;
}

section{
    /* height: 400px; */
    background-color: blue;
}

header section div{
    background-color: palevioletred;
    height: 450px;
    width: 60%;
}
main section{
    background-color: white;
}
.section-two, .section-four{
    background-color: gray;
}
main section div{
    height: 500px;
    width: 50%;
    background-color: lightblue;
    border: 1px dashed black;
}
.section-four > div{
    background-color: green;
    height: 500px;
    width: 75%;
}
main section div:nth-child(2){
    width: 25%;
    background-color: pink;
    border: 1px dashed black;
}
.info{
    border-bottom: 2px solid white;
}
.info div{
    width: calc(75% / 6);
    height: 500px;
    background-color: yellow;
    border: 1px dashed black;
}
.info .social{
    background-color: palevioletred;
    width: 25%;
}
.end{
    align-items: flex-start;
}
.end div{
    width: 75%;
    background-color: orange;
    height: 30px;
    border: 1px dashed black;
}
.end div div{
    height: 20px;
    width: 50px;
}






